body{
    font-family: 'Poppins', sans-serif;;
    background-color: rgb(47, 47, 47);
    color: rgb(226, 226, 226);
    margin: 0%;
}

h1{
    font-size: 50px;
}

section{
    display: flex;
}

.darkblue{
    color: rgb(106, 106, 219);
    font-size: 70px;
}

.welcome{
    margin-left: 6%;
    /* padding: 80px; */
    padding: 2%;
    width: 40%;
    text-align: justify;
    float: left;
}

.welcome img{
    padding-top: 100px;
    width: 78%;
}

.click{
    color: white;
    text-decoration: none;
    /* background-color: rgb(106, 106, 219); */
    background-image: linear-gradient(rgb(161, 161, 216),rgb(106, 106, 219));
    border-radius: 5px;
    padding: 10px 40px;
}

.topsection{
    background-image: url(images/vlr.png);
    background-repeat: no-repeat;
    background-size: 120px;
    background-position-x: left;
    background-position-y: top;
}