body{
    font-family: 'Poppins', sans-serif;;
    background-color: rgb(47, 47, 47);
    color: rgb(226, 226, 226);
    margin: 0%;
}

h1{
    font-size: 50px;
}

.flexible{
    display: flex;
}

.darkblue{
    color: rgb(106, 106, 219);
    font-size: 70px;
}

.welcome{
    margin-left: 6%;
    /* padding: 80px; */
    padding: 2%;
    width: 40%;
    text-align: justify;
    float: left;
}

.welcome img{
    padding-top: 100px;
    width: 78%;
}

.click{
    color: white;
    text-decoration: none;
    /* background-color: rgb(106, 106, 219); */
    background-image: linear-gradient(rgb(161, 161, 216),rgb(106, 106, 219));
    border-radius: 5px;
    padding: 10px 40px;
}

.topsection{
    background-image: url(images/vlr.png);
    background-repeat: no-repeat;
    background-size: 120px;
    background-position-x: left;
    background-position-y: top;
}

.profile1{
    margin-left: 6%;
    /* padding: 80px; */
    padding: 2%;
    width: 40%;
    text-align: justify;
    float: right;
}

.profile1 img{
    padding-right: 100px;
    padding-top: 100px;
    width: 90%

}

.scream{
    background-image: url(images/screambg.jpg);
    /* background-position: center; */
    background-size: cover;
}

.profile2{
    margin-left: 6%;
    /* padding: 80px; */
    padding: 2%;
    width: 40%;
    text-align: justify;
    float: left;
}

.profile2 img{
    padding-top: 100px;
    width: 95%;
}

.jamppi{
    background-image: url(images/209770.jpg);
    /* background-position: center; */
    background-size: cover;
}

.score{
    margin-left: 6%;
    /* padding: 80px; */
    padding: 2%;
    width: 40%;
    text-align: justify;
    /* float: left; */
}

.score img{
    /* padding-top: 100px; */
    /* width: 90%; */
    padding-right: 35px;
    height: auto;
    width: 775px;
    /* border-radius: 10px; */
    /* box-shadow: 5px 5px 20px rgb(90, 90, 90); */

}

.profile3{
    margin-left: 6%;
    /* padding: 80px; */
    padding: 2%;
    width: 40%;
}

#design1{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(63, 62, 62),rgb(44, 189, 99));
    border-image-slice:  1;
}

#design2{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(63, 62, 62),rgb(129, 28, 28));
    border-image-slice: 1;
}

footer p{
    text-align: center;
}

.video{
    background-image: url(images/vb.jpg);
    /* background-position: center; */
    background-size:cover;
}